{% extends "/base.html.twig" %}
{% block title %}Details{% endblock %}
{% block body %}
    {% include 'layout/menu.html.twig' %}
    <h1>Product {{ product.id }} - {{ product.name }}</h1>
{% endblock %}